
/*
 * Full-page application style
 */

body, html, label {
font-family: helvetica neue, arial, sans-serif;
font-weight: 200;
}

label{
margin-bottom: 0px;
}

body.application {
  background: #f2f2f2;
  padding: 60px 20px 0;
}
body.application > .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}


.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

.main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

.return-link, .return-link:focus, .return-link:hover {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  min-height: 300px;
  max-height: 400px;
  height: 300px;
  overflow: scroll;
  /* overflow-wrap: break-word; */
  padding: 5px 10px;
  position: relative;
  margin: 5px;
  border: 1px solid #f2f2f2;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

table {
position: absolute;
text-align: center;
font-size: 11px;
}

#geo_header_logo {
position: fixed;
top: 5px;
left: 5px;
}

th {
font-size: 12px;
text-align: center;
}

tr:nth-child(1) {
width: 33.33333%;
}
tr:nth-child(2) {
width: 33.33333%;
}
tr:nth-child(3) {
width: 33.33333%;
}

td {
width: 33.33333%;

}


#ajaxDiv,#ajaxDivRight{
position: absolute;
min-width: 60%;
width: 93%;
max-width: 95%;
margin-left:15px;

}

#chart1, #chart2, #chart3, #chart4, #chart5, #chart6{
overflow: scroll;
max-height: 400px;
position: relative;
}