/*
File Name: hm_blk_red.css
Author: Circle Squared Data Labs
Author URI: http://www.heatery.io
Description: This is the heatery map At the Redee stylesheet. It is the dark theme with red fonts and accents.
The primary colors used are:
background-color:
color:
border-color:
Version: 1.0.0
License: GNU General Public License 2.0
License URI: license.txt
Tags: responsive-layout, fluid-layout, custom-background, custom-menu, custom-maps, AJAX, Facebook Graph API, Autocomplete SearchBox, Heatmap Visualizations, Google Maps
*/

html,
body {
    height: 100%;
    background-color: #666;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 200;
}
body {
    padding-top: 50px;
    padding-bottom: 50px;
}
p {
    padding-right: 10px;
    text-align: justify;
}
hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #d14334;
}
a {
    color: #D5DED9;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
a:hover {
    color: #b3e099;
}
td {
    text-align: center;
    width: 33.333333%;
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    color: #D5DED9;
}
.navbar-default .navbar-nav>li>a {
    color: #DCF7F3;
}

/*Begin Navbar*/

#hm_navbar_top,
#hm_navbar_bottom,
#hm_navbar_collapse {
    background-color: rgb(149, 31, 43);
    border-color: transparent !important;
    color: #d5ded9;
}
#hm_navbar_brand_img {
    height: 45px;
    width: 45px;
    margin-top: -11px;
}
#hm_navbar_top li>a:hover,
#hm_navbar_top .active>a,
#hm_navbar_top li>a:focus,
#hm_navbar_bottom li>a:hover,
#hm_navbar_bottom .active>a,
#hm_navbar_bottom li>a:focus {
    background: rgba(255, 255, 255, 0.2);
    color: #DCF7F3;
}
#hm_navbar_dropdown_ul,
#hm_dropup_dev,
#hm_dropup_blog {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}
.dropdown-menu>li>a {
    color: #DCF7F3;
}
.dropdown-menu>li>a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #DCF7F3;
}
.navbar-default .navbar-nav>li>a {
    color: #DCF7F3;
}
#map-canvas {
    width: 100%;
    height: calc(100% - 0);
    position: absolute;
    right: 0px;
    top: 50px;
    bottom: 50px;
    overflow: hidden;
}
#main,
#main>.row {
    height: 100%;
}
#main>.row {
    overflow-y: scroll;
}
#main {
    float: left;
}
#left {
    margin-top: 30px;
}

/*Begin Buttons*/

#gc-search-box {
    width: 250px;
    background-color: rgb(28, 33, 48);
    border: none;
    color: #D5DED9;
    letter-spacing: 1.5px;
}
#btn-find {
    background-color: #d14334;
    color: #dcf7f3;
    border-color: transparent;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 200;
}
#btn-find:hover {
    background-color: #002c2b;
    color: #dcf7f3;
}

/*Start sidebar info panel*/
.panel-default {
    background-color: transparent;
    border-color: transparent;
    min-width: 360px;
}
#info_head,
#info_card {
    background-color: rgba(28, 33, 48, 0.7);
    border-color: transparent;
    color: #d14334;
    padding: 10px;
    border-radius: 3px;
}

#info_card{
    color: #b3e099;
}
#fb_cover {
    width: 100%;
    padding-bottom: 10px;
}
#sb-content {
    font-size: 12px;
    line-height: 18px;
    max-height: 175px;
    overflow-y: auto;
    color: #b3e099;
}
#sb-title {
    background-color: rgba(28, 33, 48, 0.7);
    color: #d14334;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin-top: 10px;
}

/*Start infowindow style*/

#iw_container {
    margin-bottom: 10px;
    border-radius: 10px;
}
#iw_container,
#iw_content {
    background-color: rgba(28, 33, 48, 0.7);
    border-color: transparent;
    color: #d14334;
    padding: 25px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 200;
    margin-right: 1px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    text-align: justify;
}
#iw_title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
    background-color: rgba(28, 33, 48, 0.7);
    color: #d14334;
    margin: 0;
    border-radius: 5px;
}
#info_table {
    width: 100%;
    color: rgba(82, 66, 4, 0.5);
}
.iw-subTitle {
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 100;
    padding: 5px 0;
}
#myModal {
    background-color: rgba(0, 0, 0, 0.5);
}
#myModalHeader {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgba(0, 0, 0, 0.8);
    color: #DCF7F3;
    text-align: center;
}
#myModalBody {
    background-color: rgba(0, 0, 0, 0.8);
    color: #DCF7F3;
    text-align: center;
}
#myModalBody>p {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
#myModalHeaderImg {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}