/*
File Name: hm_pink.css
Author: Circle Squared Data Labs
Author URI: http://www.heatery.io
Description: This is the heatery map Soft Pink stylesheet. It is a light theme with pink backgrounds and ever 'pinker' fonts.
The primary colors used are:
background-color:
color:
border-color:
Version: 1.0.0
License: GNU General Public License 2.0
License URI: license.txt
Tags: responsive-layout, fluid-layout, custom-background, custom-menu, custom-maps, AJAX, Facebook Graph API, Autocomplete SearchBox, Heatmap Visualizations, Google Maps
*/

html,
body {
    height: 100%;
    background-color: #666;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
}
body {
    padding-top: 50px;
    padding-bottom: 50px;
}
p {
    padding-right: 10px;
    text-align: justify;
}
hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-top: 1px solid rgb(207, 201, 196);
}
a{
font-size: 16px;

}

.navbar-default .navbar-nav>li>a {
    color: #000 !important;
}

/*Begin Navbar*/
#hm_navbar_top,
#hm_navbar_bottom,
#hm_navbar_collapse {
    background-color:  rgb(171, 3, 92);
    border-color: transparent !important;
    color: #000;
}
#hm_navbar_brand_img {
    height: 45px;
    width: 45px;
    margin-top: -11px;
}
#hm_navbar_top li>a:hover,
#hm_navbar_top .active>a,
#hm_navbar_top li>a:focus,
#hm_navbar_bottom li>a:hover,
#hm_navbar_bottom .active>a,
#hm_navbar_bottom li>a:focus {
    background: rgba(255, 255, 255, 0.2);
    color: #000;
}
#hm_navbar_dropdown_ul,
#hm_dropup_dev,
#hm_dropup_blog {
    background-color: RGBA(242, 56, 166, 0.7);
    padding: 8px;
}
.dropdown-menu>li>a {
    color: #000;
}
.dropdown-menu>li>a:hover {
    background: rgba(255, 255, 255, 0.2);
   color: #000;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
#map-canvas {
    width: 100%;
    height: calc(100% - 0);
    position: absolute;
    right: 0px;
    top: 50px;
    bottom: 50px;
    overflow: hidden;
}
#main,
#main>.row {
    height: 100%;
}
#main>.row {
    overflow-y: scroll;
}
#main {
    float: left;
}
#left {
    margin-top: 30px;
}

/*Begin Buttons*/
#gc-search-box {
    width: 250px;
    background-color: RGB(242, 56, 166);
    border: none;
    color: #000;
    letter-spacing: 1.5px;
}
#btn-find {
    background-color: RGB(242, 56, 166);
    border-color: transparent;
    color: #000;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
}
#btn-find:hover {
    background-color: #dcf7f3;
    color: #000;
}

/*Start sidebar info panel*/
.panel{
    background-color: transparent !important;
    border-color: transparent !important;
}

.panel-default {
    background-color: transparent;
    border-color: transparent;
    min-width: 420px;
}

#info_head{
    text-align: center;
}

#info_head,
#info_card {
    background-color: rgba(242, 56, 166, 0.8);
    border-color: transparent;
    color:  #000;
    padding: 10px 20px;
    border-radius: 3px;
}
#fb_cover {
    width: 100%;
}
#sb-content {
    background-color: #000;
    color:  rgb(207, 201, 196);
    text-align: justify;
    font-size:15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.1px;
    max-height: 250px;
    overflow-y: auto;
    padding: 20px;
}
#sb-title {
    background-color: #000;
    color:  rgb(207, 201, 196);
    font-size:16px;
    font-weight:400;
    letter-spacing: 1.3px;
    padding: 20px;
    margin-top: 10px;
}
#sb_link{
    color: rgb(207, 201, 196);
    font-size:16px;
    font-weight:400;
}

#sb_link:hover{
    color: rgb(207, 201, 196);
    font-size:18px;
    font-weight:400;
    text-decoration: none;
}

#sb-details{
letter-spacing: 1.0px;
}
/*Start infowindow style*/
#iw_container {
    margin-bottom: 10px;
    border-radius: 10px;
}
#iw_container,
#iw_content {
    background-color: rgba(242, 56, 166, 0.7);
    border-color: transparent;
    color: #000;
    padding: 25px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin-right: 1px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    text-align: justify;
}

#myModal {
    background-color: rgba(242, 56, 166, 0.3);
}
#myModalHeader {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(242, 56, 166);
    color:  #000;
    text-align: center;
}
#myModalBody {
    background-color: rgb(242, 56, 166);
    color:  #000;
    text-align: center;
}
#myModalBody>p {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
#myModalHeaderImg {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}