/*
File Name: hm_belgium.css
Author: Circle Squared Data Labs
Author URI: http://mobile.heatery.io
Description: This is the heatery map Belgium Theme stylesheet. It is the theme that is loaded by default. 
The primary colors used are:
background-color:
color:
border-color:
Version: 1.0.0
License: GNU General Public License 2.0
License URI: license.txt
Tags: responsive-layout, fluid-layout, custom-background, custom-menu, custom-maps, AJAX, Facebook Graph API, Autocomplete SearchBox, Heatmap Visualizations, Google Maps
*/

html,
body {
height: 100%;
width: 100%;
position: absolute;
background-color:  rgb(171, 3, 92) !important;
font-family: Helvetica Neue, Arial, sans-serif;
font-weight: 200;
}
body {
padding-top: 50px;
}
p {
padding-right: 10px;
text-align: justify;
}
hr {
margin-top: 5px;
margin-bottom: 10px;
border-top: 3px solid rgba(204, 51, 63, 0.3);
}
a {
color: #D5DED9 !important;
text-decoration: none;
font-size: 13px;
font-weight: 500;
line-height: 25px;
}
a:hover {
color: #FF244A !important;
}

/*Begin Navbar*/
.navbar-form {
padding: 0px !important;
margin-top: 8px !important;
margin-right: 5px !important;
margin-bottom: 0px !important;
margin-left: 5px !important;
border-top: none !important;
border-bottom: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}
#hm_navbar_top,
#hm_navbar_bottom,
#hm_navbar_collapse {
background-color:  rgb(171, 3, 92);
border-color: transparent !important;
color: #000;
}
#map-canvas {
width: 100% !important;
height: 170px;
position: fixed !important;
right: 0px;
left: 0px;
overflow: hidden;
z-index: 2;
}
#main {
position: absolute;
top: 220px;
right: 0px;
left: 0px;
padding: 0px;
width: 100% !important;
}

/*Begin Buttons*/
#gc-search-box {
width: 250px;
background-color: RGB(242, 56, 166);
border: none;
color: #000;
letter-spacing: 1.5px;
}
#btn-find {
background-color: RGB(242, 56, 166);
border-color: transparent;
color: #000;
font-family: Helvetica Neue, Arial, sans-serif;
font-weight: 400;
}
#btn-find:hover {
background-color: #dcf7f3;
color: #000;
}

/*Start sidebar info panel*/
.panel {
border-radius: 0px !important;
background-color: transparent !important;
border-color: transparent !important;
}
.panel-default {
background-color: transparent !important;
border-color: transparent !important;
}
#info_panel {
margin-bottom: 0px !important;
}
#hm_location {
color: #DCF7F3;
margin-left: 10px;
}
#info_card {
background-color: rgba(242, 56, 166, 0.8);
border-color: transparent;
color:  #000;
padding: 10px 20px;
}
#fb_cover {
width: 100%;
max-height: 160px;
}
#sb-title {
background-color: #000;
color:  rgb(207, 201, 196);
font-size:16px;
font-weight:400;
letter-spacing: 1.3px;
padding: 5px;
margin-top: 5px;
}

/*Start infowindow style*/
#iw_container {
margin-bottom: 10px;
border-radius: 10px;
}
#iw_container,
#iw_content {
background-color: rgba(242, 56, 166, 0.7);
border-color: transparent;
color: #000;
padding: 10px;
font-size: 15px;
line-height: 18px;
font-weight: 600;
margin-right: 1px;
max-height: 200px;
overflow-y: auto;
overflow-x: hidden;
width: 100%;
text-align: justify;
}
#myModal {
    background-color: rgba(242, 56, 166, 0.3);
}
#myModalHeader {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(242, 56, 166);
    color: #000;
    text-align: center;
}
#myModalBody {
    background-color: rgb(242, 56, 166);
    color: #000;
    text-align: center;
}
#myModalBody>p {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
#myModalHeaderImg {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}