#gc_body {
    padding-top: 0px !important;
    background-color: #666;
}
#geo_header {
    color: #fff;
    text-align: center;
    font-weight: 200;
    margin-right: 25%;
}
#geo_header_logo {
    height: 150px;
    width: 150px;
}
#response {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
}
.table-responsive {
    color: #fff;
    margin-top: 10px;
}

/*
td {
    min-width: 150px;
    border: 1px solid #382822;
    text-align: center;
}
th {
    background-color: #86756B;
    color: #fff;
    padding: 20px;
}
th,
td {
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 200;
}
*/

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #BCBEB0;
    color: #2E302F;
}
#geo_input {
    width: 400px;
    text-align: center;
    margin-left: 220px;
}

td {
font-weight: 200;
font-size: 16px;
color: #fff;
min-width: 150px;
}

th{
background-color: #86756B;
font-weight: 200;
font-size: 16px;
color: #fff;
padding:20px !important;
}