html, body{
z-index: 0;
position: fixed;
top:0;
bottom:0;
left:0;
right:0;
height:100%;
width:100%;
}

#map-canvas {
position: relative;
height: 100%;
width: 100%;
z-index: 2;
}

#pac-input {
position: relative;
margin-top: 10px;
left: 10px;
background-color: #fff;
font-family: Helvetica neue, sans-serif, serif;
font-size: 12px;
font-weight: 100;
text-overflow: ellipsis;
width: auto;
z-index: 1
}

#pac-input:focus {
border-color: #4d90fe
}

.controls {
height: auto;
border: 1px inset #c0c0c0;
box-sizing: border-box;
z-index: 5
}